## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
day = 14
print(day)

14

2) Imprimir el tipo de dato de la constante 8.5

In [4]:
const = 8.5 #tipo de dato decimal/float
print(type(const))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [5]:
day = 14 #tipo de dato int
print(type(day))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [6]:
var = "Dayanna"
print(var)

Dayanna

5) Crear una variable que contenga un número complejo

In [13]:
num = 8 + 8j
print(num)

(8+8j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [14]:
num = 8 + 8j
print(type(num))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [15]:
var_pi = 3.1416
print(var_pi)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [18]:
x = "True" #tipo de dato str
print(x)
y = True #tipo de dato bool. No es lo mismo porque son diferentes tipos de datos
print(y)

True
True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [17]:
print(type(x))
print(type(y))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [19]:
z = 9 + 6.5
print(z)

15.5

11) Realizar una operación de suma de números complejos

In [20]:
w = 5 + 6j
x = 7 + 9j
print(w+x)

(12+15j)

12) Realizar una operación de suma de un número real y otro complejo

In [21]:
y = 30
z = 12 + 25j
print(y+z)

(42+25j)

13) Realizar una operación de multiplicación

In [23]:
a = 15 * 5
print(a)

75

14) Mostrar el resultado de elevar 2 a la octava potencia

In [24]:
b = 2**8
print(b)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [25]:
var1 = 27 / 4

In [26]:
print(var1)

6.75

16) De la división anterior solamente mostrar la parte entera

In [27]:
var1 = 27 // 4
print(var1)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [28]:
var1 = 27 % 4
print(var1)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [29]:
var2 = 4 * 6 + 3
print(var2)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [46]:
x = "3 " + "peras"
print(x)

3 peras

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [47]:
y = "2" #son mismo número pero distinto tipo de dato, este es un str
z = 2 #este es un int. Por lo tanto NO son iguales
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [48]:
y = "2"
type(y)
bool(y)

True

In [49]:
z = 2
type(z)
bool(z)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [51]:
a = float("3.8") #arroja error por los decimales deben indicarse con un (.) y no con una (,) como lo muestra el enunciado

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [52]:
x = 3
x -= 1
print(x)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [54]:
y = 1 << 2 #sistema numérico que utiliza 2 dígitos 0 y 1. En Python el más común es el desplazamiento de ceros a la izquierda
print(y) #el resultado es la multiplicación de los dígitos binarios, por sus respectivas potencias de 2, sumando los resultados de éstos para arrojar su valor equivalente decimal

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [62]:
#Son el mismo número pero no son el mismo tipo de dato, pues uno es int y el otro str. No pueden sumarse

a = 2
b = str(a)
print(type(b))

<class 'str'>

In [63]:
c = b + "2"
print(c)

22

26) Realizar una operación válida entre valores de tipo entero y string

In [79]:
x = 3
y = str(x)


z = y + " horas me tardé para hacer esta Homework" 
print(z+" ja" *3)

3 horas me tardé para hacer esta Homework ja ja ja